<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to("login", new_user_session_path) unless user_signed_in? %></li>
      <li><%= link_to("logout", destroy_user_session_path, method: :delete) if user_signed_in? %></li>
    </ul>
    <%= yield %>
  </body>
</html>
